In [1]:
import pandas as pd
from datetime import date
import missingno as msno

In [9]:
oldtown_sensors = pd.read_csv(r'C:\Users\3d-digi\Desktop\GitHere\Datasets\tallin_oldtown_motionsensors_31.03.2022.csv', sep = ';')

oldtown_sensors

                Device     UTC timestamp  count   in  out
0             Harju 13  01.01.2022 00:09    129  100   29
1             Harju 13  01.01.2022 00:19    142   55   87
2             Harju 13  01.01.2022 00:29    136   68   68
3             Harju 13  01.01.2022 00:39    137   62   75
4             Harju 13  01.01.2022 00:49    134   69   65
...                ...               ...    ...  ...  ...
227968  Väike-Karja 12  31.03.2022 23:10     28   19    9
227969  Väike-Karja 12  31.03.2022 23:20     21   15    6
227970  Väike-Karja 12  31.03.2022 23:30     21   13    8
227971  Väike-Karja 12  31.03.2022 23:40     12    7    5
227972  Väike-Karja 12  31.03.2022 23:50     15    6    9

[227973 rows x 5 columns]

              Device;UTC timestamp;count;in;out
0          Harju 13;01.01.2022 00:09;129;100;29
1           Harju 13;01.01.2022 00:19;142;55;87
2           Harju 13;01.01.2022 00:29;136;68;68
3           Harju 13;01.01.2022 00:39;137;62;75
4           Harju 13;01.01.2022 00:49;134;69;65
...                                         ...
227968  Väike-Karja 12;31.03.2022 23:10;28;19;9
227969  Väike-Karja 12;31.03.2022 23:20;21;15;6
227970  Väike-Karja 12;31.03.2022 23:30;21;13;8
227971   Väike-Karja 12;31.03.2022 23:40;12;7;5
227972   Väike-Karja 12;31.03.2022 23:50;15;6;9

[227973 rows x 1 columns]

In [ ]:
### GOES WITH ME

# checking if there are any empty data cells
# df.isnull().sum()

# checking empty data cells based on single column
# df[df.col_name.isnull()]

# checking how many number of unique values in any column
# df.col_name.nunique()

# checking unique values of a specific column
# df.col_name.unique()

# using filter by single column
# df[df.col_name == 'cell_value']

# using filter by multiple columns
# df[(df.col_name == 'cell_value') & (df.col_name == 'cell_value')]
# df_filt = df[(df['ESMANE_REG_KP'] >= "2021-01-01") & (df['ESMANE_REG_KP'] < "2022-01-01")]

# Filtering on base of year or month, Make your the column type is date and giving how many rows are in that specific time frame
# df.groupby(df.col_name.dt.year).col_name.count()
# df[['col_name']].value_counts().reset_index(name='ortho_count')

# creating bin to get the bin wise count
# pd.qcut(df.ESMANE_REG_KP.dt.year, q=5, precision=0, duplicates='raise').value_counts()

# Filtering on base of year or month, Make your the column type is date
#pd.pivot_table(data = df , index = df.ESMANE_REG_KP.dt.year)