In [1]:
import pandas as pd
import re

In [2]:
estonia_fires = pd.read_csv(r'estonia_county_firecount.csv')

In [3]:
df = estonia_fires.copy(deep=True)

In [4]:
df['building_type'] = 'Non residential'
df['Cause_code'] = ''
df['Cause'] = ''

# conditional check, can be np.select(condition,values) or .map(using dictionary)
df.loc[df['Hoone liik'] == 'eluhoone', 'building_type'] = 'Residential'
df.head(2)

,Maakond,Aasta,Hukkunuid,Hoone liik,Tekkepõhjus,Kuu,building_type,Cause_code,Cause
0,Võru maakond,2010,2,eluhoone,102 Suitsetamisel,1,Residential,,
1,Valga maakond,2010,1,eluhoone,601 Kindlaks tegemata põhjus,1,Residential,,

In [5]:
# string splitting and expansion
df['Cause_code'] = df['Tekkepõhjus'].str.split(' ', expand=True)[0]

In [6]:
# combining the str split(maxsplit1) and replace methods we can find and replace the substrings into new col using chaining method
df['Cause'] = df['Tekkepõhjus'].str.split(' ', 1, expand=True)[1].str.replace('Suitsetamisel', 'smoking')

In [7]:
# replacing special character
df['Cause']=df['Cause'].str.replace('õ', 'o', regex=True)

In [ ]:
# re.findall     to find all matches of a pattern
# re.split       to split the string at each match
# re.sub         to replace the match pattern with new string

# re.search      
# re.match

In [ ]:
# REGEX META CHARACTERS, metacharacters 
# \d            to get digit
# \D            to get non digit
# \w            to get word
# \W            to get non-word like $ sign
# \s            to get whitespace
# \S            to get non whitespace

# Special Characters
# .            to match any characters except newline
# ^            to match only first occuring character
# \            to escape the special characters
# |            to use as OR operator
# [ ]          to use  OR operator similar to previous

# Greedy Quantifiers, work only for the imediate left one
# {}            to quantify the repetition of metacharacter
# +             to use for character appearing one or more time
# *             to use for character appearing zero or more times
# ?             to use for character apperaing zero or one time only

# Non Greedy Quantifier
# Append ?      to a greedy quantifier to make it non greedy quantifier

# Grouping the regex
# ()           to capture the group

# Positive lookahead 
# (?=) makes sure that first part of the expression is followed by the lookahead expression. 

# Positive lookbehind 
# (?<=) returns all matches that are preceded by the specified pattern.